.card-1{
    display: flex;
    margin: 20px;
    gap: 20px;
}
.leftcard{
    background-color:white;
    padding: 20px;
}
.leftcard h1{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}
.leftcard hr{
    border: none;
    height: 1px;
    background: #dadada;
}
.procardlist{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 24px 0 12px 12px;
}
.titleprice{
    display: flex;
    gap: 20px;
    font-size: 18px;
}
.bestseller{
    font-size: 12px;
    margin-top: 10PX;
}
.bestseller span{
    font-size: 13px;
    background: #c45500;
    color: white;
    padding: 3px 8px;
}
.cardstock{
 font-size: 13px;
 color: #007600;
 margin: 4px 0;
}
.carddeliery{
    font-size: 15px;

}
.cardreturn{
    font-size: 15px;
    font-weight: 400;
    color: #007185;
}
.cardgift{
    color: #494949;
    font-size:13px;
    margin: 3px 0;
}
.cardgift span{
    color: #007185;
}
.cartspecs{
    max-width: 150px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 3px;
    font-size:13px;
    margin: 7px 0;;
}
 .cardlistaction{
    display: flex;
    gap: 12px;
    font-size:14px;
    color: #007185;

}
.cardlistaction hr{
    height: 20px;
    width: 1px;
    background: #cfcfcf;
}
.cardlistaction select{
    padding: 5px;
    border-radius: 6px;
    background: #f3f3f3;
}
.lsittotal{
    text-align: right;
    font-size: 20px;
    margin-top:10px;
}
.rightcard{
    background: white;
    padding: 20px;
    max-height: 220px;
    min-width: 280px;
}
.predelivery{
    display: flex;
    font-size: 13px;
}
.subtotal{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
.gift{
    margin: 7px 0;
    font-size: 14px;
}
.rightcard button{
    width: 100%;
    height:32px;
    margin: 15px 0;
    background:#ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.rightcard button:hover
{
    background: #ebc712;
}
.cardfooter{
    margin-top: 50px;
}
/* responsive */

@media only screen and (max-width:900px){

    .card{
        flex-wrap: wrap;
    }

}
@media only screen and (max-width:600px){

    .procardlist{
        padding: 24px 0;

    }
    .procardlist image-rendering{
        width: 80px;
    }
    .titleprice{
        flex-wrap: wrap;
        font-size: 14px;
    }
    .carddeliery{
        font-size: 13px;
    }
    .cardlistaction .action_btn:nth-last-child(1){
        display: none;
    }
    .cardlistaction .action_btn hr:nth-last-child(2){
        display: none;
    }
    .cardlistaction .action_btn:nth-last-child(3){
        display: none;
    }
    .cardlistaction .action_btn hr:nth-last-child(4){
        display: none;
    }
    .rightcard{
        min-width:100%;
    }
} 